@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap");

.agdasima-regular {
  font-family: "Agdasima", sans-serif;
  font-size: clamp(12px, 1.2rem, 4rem);
  font-weight: 400;
  font-style: normal;
}

.agdasima-bold {
  font-family: "Agdasima", sans-serif;
  font-size: clamp(20px, 2rem, 4rem);
  font-weight: 700;
  font-style: normal;
}

/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* end of reset */

body {
  line-height: 1.5;
}

button {
  font-family: "Agdasima";
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: none;
  text-align: left;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

button:hover {
  transform: scale(1.01) translateZ(0);
}

input,
textarea,
select {
  padding: 5px;
}

h2,
h3,
p,
.project-name-div,
label,
button {
  color: rgba(245, 240, 230, 0.9);
}

#container {
  display: grid;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.9),
    rgba(40, 40, 40, 0.9)
  );
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

#header {
  min-height: 10vh;
  grid-column: 1/-1;
  grid-row: 1/2;
}

#logo {
  position: absolute;
  filter: invert(92%) sepia(8%) saturate(142%) hue-rotate(18deg) brightness(97%)
    contrast(91%);
  top: 1%;
  left: 1%;
  width: 100px;
  height: auto;
}

#left-sidebar {
  position: relative;
  margin: 10px;
}

#projects {
  position: relative;
  background: #222;
  border-radius: 10px;
  padding: 10px;
  margin: 0 10px;
  box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.project-div {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.project-div.active {
  font-weight: bold;
  transform: translate(5px);
  background-color: rgba(245, 240, 230, 0.9);
  transition: all 0.3s ease-in-out;
}
.project-div.active * {
  color: rgba(0, 0, 0, 0.9);
}
.project-name-div {
  font-size: 1.5rem;
  width: 85%;
  transition: transform 0.3s ease-in-out;
}

.project-name-div:hover {
  transform: scale(1.01);
}

.add-new-project {
  width: 80%;
}

#tasks {
  /* min-height: 80vh; */
  padding: 10px;
  opacity: 1;
  /* transition: opacity 0.3s ease-in-out; */
}

.task-main {
  padding: 10px;
  margin-bottom: 12px;
  /* background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.9),
    rgba(40, 40, 40, 0.9)
  ); */
  background: #222;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 5px;
  will-change: transform;
  box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.2);
}

.task-main.high {
  border-left: 2px solid #fa0202;
}

.task-main.medium {
  border-left: 2px solid #eca711;
}

.task-main.low {
  border-left: 2px solid #17f0da;
}

.task-main.finished {
  filter: blur(1px);
  color: #888;
  text-decoration: line-through;
  background: #222;
  opacity: 0.6;
  transition: transform 0.3s, opacity 0.3s ease-in-out;
  border-left: 2px solid #49e786;
}

.task-main:hover {
  transform: scale(1.01);
}

.task-headline, #project-about-headline, #project-due-date-headline {
  font-size: 1.5rem;
}

.task-description {
  padding-bottom: 10px;
}

.task-sub {
  display: flex;
  justify-content: flex-start;
  gap: 20%;
  padding: 5px;
}

#task-modal,
#confirm-remove-project-modal,
#confirm-remove-task-modal,
#project-modal {
  position: fixed;
  padding: 10px;
  top: 50%;
  left: 50%;
  width: auto;
  font-size: 1.3rem;
  background: linear-gradient(135deg, rgba(0, 0, 0, 1), rgba(40, 40, 40, 1));
  transform: translate(-50%, -50%);
  gap: 15px;
  border-radius: 8px;
  border: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.to-bold {
  font-weight: bold;
}

#task-form,
#project-form {
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 15px;
}

#task-form label,
#project-form label {
  display: block;
  font-weight: bold;
}

#task-form input,
#task-form textarea,
#task-form select,
#project-form input,
#project-form textarea,
#project-form select {
  width: 100%;
}

#task-form textarea {
  resize: vertical;
  min-height: 80px;
}

.close-modal-button,
.remove-task-button {
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

#save-task-button,
#confirm-remove-project-button,
#confirm-remove-task-button,
#save-project-button {
  padding: 5px;
  background: none;
  border: none;
  font-weight: bold;
}

#right-sidebar {
  margin: 10px;
}

#project-details {
  position: relative;
  min-height: 10vh;
  padding: 10px;
  background: #222;
  border-radius: 10px;
  box-shadow: 7px 7px 7px 1px rgba(0, 0, 0, 0.2);
  z-index: 0;
}

