/* Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

button {
  cursor: pointer;
  border: none;
  text-align: left;
  transition: transform 0.3s ease-in-out;
  will-change: transform;
}

button:hover {
  transform: scale(1.01) translateZ(0);
}

body {
  font-family: Helvetica, Arial, system-ui;
  height: 100vh;
  line-height: 1.5;
}

#container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

#header {
  min-height: 10vh;
  grid-column: 1/-1;
  grid-row: 1/2;
}

#logo {
  position: absolute;
  top: 2%;
  left: 2%;
  width: 100px;
  height: auto;
}

#left-sidebar {
  position: relative;
  margin: 10px;
}

#projects {
  position: relative;
  min-height: 80vh;
  padding: 10px;
  margin: 0 10px;
  z-index: 0;
}

#projects::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  opacity: 0.1;
  mix-blend-mode: overlay;
  z-index: -1;
}

.project-button {
  display: block;
  padding: 5px;
  width: 80%;
  margin-bottom: 10px;
}

.add-new-project {
  width: 80%;
}

#tasks {
  min-height: 80vh;
  padding: 10px;
}

.task-main {
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  will-change: transform;
}

.task-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  opacity: 0.1;
  mix-blend-mode: overlay;
  z-index: -1;
}

.task-main:hover {
  transform: scale(1.01);
}

.task-description {
  padding-bottom: 10px;
}

.task-sub {
  display: flex;
  justify-content: flex-start;
  gap: 20%;
  padding: 5px;
}

#task-modal {
  position: fixed;
  padding: 10px;
  top: 50%;
  left: 50%;
  height: 70%;
  width: 50%;
  transform: translate(-50%, -50%);
}

#task-form {
  display: grid;
  padding: 25px;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
}

#right-sidebar {
  margin: 10px;
}

#due-dates {
  position: relative;
  min-height: 80vh;
  padding: 10px;
  z-index: 0;
}

#due-dates::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  opacity: 0.1;
  mix-blend-mode: overlay;
  z-index: -1;
}
